
header { 
    font-family: monospace;
    font-size: 35px;
    text-align: center;
    background-color: lightsalmon;
    animation: cores 3s infinite;
}

@keyframes cores {
    0% { color: black}
    100% { color: white }
}


body { 
    font-size: 50px;
    text-align: center;
}

img {
    width: 250px;
    height: 250px;
    margin-inline-end: 80px;
    transition-duration: 2s;
}

img:hover {
    cursor: pointer;
    width: 400px;
    height: 400px;
    transition-duration: 2s;
}

